<div class="page-container">
  <h1 class="page-title">Listado de Destinos</h1>

  <div class="destination-container">
    <!-- Filtros -->
    <aside class="filters">
      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Filtrar por nombre</mat-label>
        <input matInput [(ngModel)]="filters.name">
      </mat-form-field>

      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Filtrar por país</mat-label>
        <input matInput [(ngModel)]="filters.countryCode">
      </mat-form-field>

      <mat-form-field appearance="fill" class="filter-field">
        <mat-label>Tipo</mat-label>
        <mat-select [(ngModel)]="filters.type">
          <mat-option value="">Todos</mat-option>
          <mat-option *ngFor="let type of destinationTypes" [value]="type">
            {{ typeLabels[type] }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <datepicker-locale
        [value]="filters.lastModified"
        (valueChange)="filters.lastModified = $event">
      </datepicker-locale>

      <button mat-stroked-button color="primary" (click)="applyFilters()">Buscar</button>
    </aside>

    <!-- Tabla y acciones -->
    <section class="destination-table">
      <div class="actions">
        <button mat-raised-button color="primary" (click)="openCreateModal()">
          <mat-icon>add</mat-icon>
          Crear
        </button>

        <button mat-raised-button color="accent" (click)="openEditModal()" [disabled]="!selectedDestination">
          <mat-icon>edit</mat-icon>
          Editar
        </button>

        <button mat-raised-button color="warn" (click)="openDeleteConfirm()" [disabled]="!selectedDestination">
          <mat-icon>delete</mat-icon>
          Eliminar
        </button>

        <button mat-raised-button color="primary" (click)="exportToExcel()">
          <mat-icon>download</mat-icon>
          Exportar
        </button>

      </div>

      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #sort="matSort">
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef class="col-select"></mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-select">
            <mat-radio-button
              name="selectedDestination"
              [checked]="destination.id === selectedDestination?.id"
              (change)="selectDestination(destination)">
            </mat-radio-button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef class="col-id">ID</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-id">{{ destination.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class="col-name" mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-name">{{ destination.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef class="col-description" mat-sort-header>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-description">{{ destination.description }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="countryCode">
          <mat-header-cell *matHeaderCellDef class="col-country" mat-sort-header>Código país</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-country">{{ destination.countryCode }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef class="col-type">Tipo</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-type">{{ typeLabels[destination.type] }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastModified">
          <mat-header-cell *matHeaderCellDef class="col-last">Última modificación</mat-header-cell>
          <mat-cell *matCellDef="let destination" class="col-last">{{ destination.lastModified | date: 'dd/MM/yy HH:mm'}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <!-- Paginación -->
      <div class="pagination">
        <button mat-stroked-button color="primary" (click)="prevPage()" [disabled]="page === 0">
          <mat-icon>chevron_left</mat-icon> Anterior
        </button>

        <span class="page-info">Página {{ page + 1 }}</span>

        <button mat-stroked-button color="primary" (click)="nextPage()" [disabled]="!hasMore">
          Siguiente <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

    </section>
  </div>
</div>
